@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 245, 245, 245;
  --background-opp: 20, 21, 25;
  --border: 212, 212, 212;
  --card: 255, 255, 255;
  --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;
  --copy-opp: 245, 245, 245;
  --cta: 23, 100, 255;
  --cta-active: 0, 75, 224;
  --cta-text: 255, 255, 255;
  background: rgba(var(--background));
}

.dark {
  --background: 20, 21, 25;
  --background-opp: 245, 245, 245;
  --border: 100, 100, 100;
  --card: 24, 28, 37;
  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;
  --copy-opp: 20, 21, 25;
  --cta: 23, 100, 255;
  --cta-active: 0, 75, 224;
  --cta-text: 255, 255, 255;
  background: rgba(var(--background));
}
